$nav-color: red;
$bg-color: blue;
$form-height: 1.5rem;

*, *::before, *::after {
    box-sizing: border-box;
    
}

body {
    background: $bg-color;
    margin: 0;
}

// Nav bar styles

header {
    background: $nav-color;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;

    span, span::before, span::after {
        display: block;
        background: white;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    span::before, span::after {
        content: '';
        position: absolute;
    }

    span::before {
        bottom: 7px;
    }

    span::after {
        top: 7px;
    }
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: $nav-color;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 100ms ease-in-out;
    }

    a:hover {
        color: #000;
    }
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);

    a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
}

@media screen and (min-width: 769px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            opacity: 1;
            position: relative;
        }

        a::before {
            content: '';
            display: block;
            height: 5px;
            background: black;
            position: absolute;
            bottom: -0.75em;
            left: 0;
            right: 0;
            transform: scale(0, 1);
            transform-origin: bottom;
            transition: transform ease-in-out 150ms;
        }

        a:hover::before {
            transform: scale(1, 1);
        }

        ul {
            display: flex;
        }

        li {
            margin-left: 3em;
            margin-bottom: 0;
        }
    }
}

// Currency converter styles

.converter-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currency-converter {
    display: grid;
    grid-template: 
    "base baseCode"
    "result resultCode";
}

.currency-selector {
    margin: auto;
}

.base-currency {
    grid-area: base;
    input {
        height: $form-height
    }
}

.result-currency {
    grid-area: result;
    input {
        height: $form-height
    }
}

.base-currency-code {
    grid-area: baseCode;
    select {
        height: $form-height;
    }
}

.result-currency-code {
    grid-area: resultCode;
    select {
        height: $form-height;
    }
}